


.name{
	display:inline-block;
	color:white;
	background: #4aaaa5;
	padding-right: 20px;
	padding-left: 20px;
	margin-top:6px;

}

.links{
	color:#777777;
	float:right;
	padding-top:30px;
	font-size:20px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.links a {
	padding-right: 10px;
	padding-left:10px;
	color:#777777;
	text-decoration: none;
}

.links a:nth-of-type(2), .links a:first-of-type {
		border-right: 1px solid #cccccc;
}

header{
	background-color: #ffffff;
	padding-right: 235px;
	padding-left: 235px;	
	margin-bottom: 50px;
	border-bottom: 2px solid #cccccc;
}

section{
	background:#ffffff;
	float:left;
	width: 608px;
	padding: 20px;
	border: 1px solid #dddddd;
	margin-bottom:100px;
	color:#777777;
	line-height: 2;
}

section img {
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.about-me{

	
}

.social{
	float:right;
	background:#ffffff;
	border: 1px solid #dddddd;
	padding: 20px;
	color:#4aaaa5;
	width:228px;
	text-align: center;
	text-decoration: none;




}

h3{
	border-bottom: 1px solid #cccccc;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding-bottom:10px;
}

body{
	background-image: url('../images/cardboard.png');
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin: -8px;
}


.content-area{
	width:960px;
	margin:0 auto;
}

section img {
	height: 150px;
	width: auto;
}

.social img {
	height: 70px;
	width: auto;
}

footer{
	clear:both;
	text-align: center;
	background: #666666;
	line-height: 50px;
  	padding: 0 20px;
  	height:70px;
  	border-top: 10px solid #4aaaa5;
  	padding-top:30px;
  	color:white;
  	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  	text-decoration: none;
  	font-size:12px;



}

section h1{
	border-bottom: 3px solid #cccccc;
	padding-bottom: 10px;
	color:#4aaaa5;
}

h1{
	font-family: 'Georgia', Times, Times New Roman, serif;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}



.social-icons a{
	margin:0 auto;
	text-align: center;
	text-decoration: none;
}